img {
   width: 90px;
   height: 90px;
   float: left;
}

#idCard {
   border: 5px solid black;
   height: 14em;
   width: 25em;
  margin: 105px auto;
  border-radius: 25px;
}
body { background-color: aqua;
  text-align: center;
  }
 #postFullName {font-size: 28px;}
